---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h2 class="stamp"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination row">
    <div class="four columns previous">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
        {% endif %}
    </div>
    <div class="four columns page_number">
        <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    </div>
    <div class="four columns next">
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">Next</a>
        {% endif %}

    </div>
</div>
