<!doctype html>
<html class="no-js" lang="">
<head>

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/bower_components/normalize.css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

  <script src="/assets/js/modernizr-3.0.0.min.js"></script>

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>

<body>

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper-masthead">
        <div class="container">
            <header class="masthead">

                <div class="site-info">
                    <a href="/" class="clip-text site-title">{{ site.name }}</a>
                    <p class="site-description">{{ site.description }}</p>
                </div>

                <div class="site-nav">
                    <nav>
                        <a href="/">Blog</a>
                        <a href="/about">About</a>
                        <a href="/contact">Contact</a>
                        <a href="/projects">Projects</a>
                    </nav>
                </div>

            </header>
        </div>
    </div>
