.wrapper-masthead {
    text-align: center;
    background-color: $primary-color;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 5px solid $secondary-color;
    color: #FFFFFF;
}

.site-info {
    a {
        text-decoration: none;
    }
}

// If  background clip text is available use a background image
.backgroundcliptext .site-title {
    display: inline-block;
    background-image: url(/assets/img/leather-nunchuck.png);
}
.site-title {
    color: #FFF0CB;
    font-size: 5rem;
    font-family: $title-font-family;
    // Larger than mobile
    @media (#{$bp-larger-than-mobile}) {
        font-size: 7rem;
    }
    // Larger than tablet
    @media (#{$bp-larger-than-tablet}) {
        font-size: 10rem;
    }
    // Larger than desktop
    @media (#{$bp-larger-than-desktop}) {
        font-size: 14rem;
    }
    &:hover {
        color: #FFF0CB;        
    }
}

.site-nav {
    a {
        text-decoration: none;
        font-size: 1.5rem;
        margin: 0 0.6rem 0 0.6rem;
        padding: 0.6rem;
        color: #FFFFFF;
        &:hover {
            text-decoration: underline;
        }
        @media (#{$bp-larger-than-phablet}) {
            font-size: 2.2rem;
            margin: 0 1rem 0 1rem;
            padding: 0.6rem;
        }
    }
}
