
//
// VARIABLES
//

// Colors
$light-grey: #ababab;
$dark-grey: #333;
$primary-color: #00A8C6;
$secondary-color: #40C0CB;
$border-color: #bbb;
$link-color: #7BA4B1;
$font-color: #222;

$font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$title-font-family: "Open Sans Condensed", "Arial Black", "Arial Bold", Gadget, sans-serif;

$container-width: 720px !default;
